.jumbotron {
    color: black;
    background-image: url(../images/coffee_banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 0;
}

body {
    background: url(../images/coffee_color_bkg.jpg) 30%;
}

.display-4 {
    color: white;
    font-size: 4rem;
    font-family: cursive;
}

#startButton, 
#restartButton {
    margin-top: 15px;
    padding: 5px 30px 5px 30px;
    font-size: 25px;
}

#container {
    height: 750px;
}

#containerInside,
#results {
    text-align: center;
    background-color: whitesmoke;
    height: 400px;
    width: 80%;
    margin-left: 10%;
    
}

#timeRemaining,
#question {
    color: black;
    padding: 10px;
    text-align: center;
    opacity: 80%;
    border-bottom: dashed;
}

#answers {
    margin-top: 20px;
}

.answer {
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 80%;
}
.results {
    padding: 8px;
    font-size: 14px;
}

.images {
    margin-top: 10px;
    max-width: 300px;
    max-height: 250px;
}
#startPageImage {
    margin-top: 20px;
    width: 300px;
    height: 250px;
}


@media (min-width: 576px){
.jumbotron {
    padding: 2rem 1rem;
    padding-bottom: 5px;
}
}